{% extends "layout.min.html" %}
{% block body %}
	<h1>{{ title }}</h1>

	{% if blog is defined and blog|length > 0 %}
		<section class="journal">
			{% for entry in blog %}
				<section>
					<a href="{{ url_for('blog', which = entry.title.lower().replace(' ','-')) }}">
						<section class="entry">
							<section class="middle">{{ entry.title }}</section>
							<section class="bottom">{{ entry.date }}</section>
						</section>
					</a>
				</section>
			{% endfor %}
		</section>
	{% else %}
		<section class="panel">
    	There is nothing to see here, move along.
    </section>
	{% endif %}
{% endblock %}
