{% extends "layout.min.html" %}
{% macro render_pagination(pagination) %}
    <section class="pagination">
        {% if pagination.has_prev %}
            <a href="{{ url_for_page(pagination.page-1) }}" title="Previous">&#10554;</a>
        {% endif %}

        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page == pagination.page %}
                    <span class="current">{{ page }}</span>
                {% else %}
                    <a href="{{ url_for_page(page) }}">{{ page }}</a>
                {% endif %}
            {% else %}
                <span>...</span>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <a href="{{ url_for_page(pagination.page+1) }}" title="Next">&#10555;</a>
        {% endif %}
    </section>
{% endmacro %}
{% block body %}
	<h1>{{ title }}</h1>

	{% if news is defined and news|length > 0 %}
		<section class="journal">
			{% for record in news %}
				<section>
					<section class="entry">
						<section class="middle">{{ record.text }}</section>
						<section class="bottom">{{ record.date }}</section>
					</section>
				</section>
			{% endfor %}
		</section>
	{% else %}
        <section class="panel">
            There is nothing to see here, move along.
        </section>
	{% endif %}

    {% if pagination is defined and pagination.total_pages > 1 %}
        <section>
            <section class="panel">
                {{ render_pagination(pagination) }}
            </section>
        </section>
    {% endif %}
{% endblock %}
