/* Excalibur Template */

body{
  background-color: §color0§;
  background: §color2§ linear-gradient(§color0§,§color2§);
  background-repeat: no-repeat;
  color:§color8§;
}

a{
  color:§color9§;
}

a:hover{
  color:§color10§;
}

nav ul li,
nav ul li > ul{
  background:§color9§;
  color:§color5§;
}

nav ul li:hover > ul li:hover{
  background:§color7§;
  color:§color4§;
}

nav ul li,
nav ul li a{
  color:§color2§;
}

nav ul li:hover a:hover{
  color:§color1§;
}

nav ul li a.disabled,
nav ul li:hover a.disabled{
  color:§color5§;
}

nav ul li a.static,
nav ul li a.static:hover,
nav ul li:hover a.static,
nav ul li:hover a.static:hover{
  color:§color2§;
}

section.panel table tr td:last-child{
  background:§color9§;
}

section.panel,
section.journal section section.entry {
  background:§color8§;
  color:§color2§;
}

section.journal section a:hover section.entry {
  background:§color6§;
}

section.panel a,
section.journal section section.entry a {
  color:§color0§;
}

section.panel a:hover,
section.journal section section.entry a:hover {
  color:§color1§;
}

section.journal section section.entry section.bottom {
  color:§color5§;
}

section.journal section:nth-child(2n) section.entry {
  background:§color3§;
  color:§color8§;
}

section.journal section:nth-child(2n) a:hover section.entry {
  background:§color4§;
}

section.journal section:nth-child(2n) section.entry section.bottom {
  color:§color8§;
}

section.journal section:nth-child(2n) section.entry a {
  color:§color9§;
}

section.journal section:nth-child(2n) section.entry a:hover {
  color:§color10§;
}

section.projects a section.project,
section.gallery a section.exhibit{
  background:§color8§;
  color:§color2§;
}

section.projects a:hover section.project,
section.gallery a:hover section.exhibit{
  background:§color3§;
  color:§color8§;
}

section.projects a section.project section.details,
section.gallery a section.exhibit section.details{
  color:§color4§;
}

section.projects a:hover section.project section.details,
section.gallery a:hover section.exhibit section.details{
  color:§color6§;
}

section.panel section.exhibit{
  background:§color11§;
  color:§color12§;
}

form input.field{
  background:none;
  color:§color2§;
  border-color:§color4§;
}

form textarea{
  background:§color10§;
  color:§color2§;
}

form button,
form input[type=submit]{
  color:§color3§;
  background:§color10§;
}

form button:hover,
form input[type=submit]:hover{
  color:§color1§;
  background:§color7§;
}

footer section.controls div{
    background:§color9§;
    color:§color5§;
}

footer section.controls div a{
    color:§color6§;
}

footer section.controls div a:hover{
    color:§color2§;
}

footer div.container{
  background:§color9§;
  color:§color5§;
}

footer a{
  color:§color10§;
}

footer a:hover{
  color:§color6§;
}
