{% extends "layout.min.html" %}
{% block body %}
  <h1>Contact</h1>

	<section class="panel">
    <form class="contact" action="contact" method="post">
      <section>
        Dear Vítor,
      </section>
      <section>
        <label for="email">I'm sending this message to talk about </label>
        <input type="text" class="field" name="subject" maxlength="64" placeholder="Subject" />
        .
      </section>
      <section name="message_container">
        <textarea name="message" maxlength="2048" placeholder="Message" required="required"></textarea>
      </section>
      <section title="Write your email if you want an answer">
        <label for="name">Sincerely, </label>
        <input type="text" class="field" name="sender" maxlength="32" placeholder="Name (Email)" required="required" />
        .
      </section>
      <section>
        {{ query }}
      </section>
      <section class="actions">
        <button type="button" id = "clear" onclick = "Clear()">Clear</button>
        <input type="submit" name="submit" value="Send" />
      </section>
    </form>
  </section>
{% endblock %}
