{% extends "layout.min.html" %}
{% block body %}
  <h1>{{ title }}</h1>

	<section class="panel">
    <p>
      <h2>Introduction</h2>
      Greetings, my name is <em>Vítor Martins</em>. I'm a versatile software engineer who is keen on learning.<br />
      On my free time, I like to work with interesting technologies or focus on learning new skills.<br />
      I've produced many things, from programs to art and really enjoy <a href="http://distrowatch.com/">Linux</a> environments,<br />
      especially for development and productivity.
    </p>

    <p>
      <h2>Experience</h2>
      <table>
        <tr>
          <td>
            <section class="from">2015</section>
            <section class="to">2016</section>
          </td>
          <td>
            I worked as a Full-stack Programmer at <a href="http://orbcom.pt/">Orbcom</a>,<br />
            from either the offices at <a href="http://www.openstreetmap.org/search?query=avenida%20da%20liberdade%2Cbraga#map=17/41.54534/-8.42017">Braga</a> or <a href="http://www.openstreetmap.org/search?query=matosinhos%2Cportugal#map=13/41.2168/-8.6600">Matosinhos,Porto</a>.<br />
            My work was focused on an ongoing ASP.NET project and continued until its completion.
          </td>
        </tr>
        <tr>
          <td>
            <section class="from">2013</section>
          </td>
          <td>I worked as a Web Developer at the <a href="http://www.uminho.pt/EN">University of Minho</a>.<br />
          The goal was to improve the <a href="http://passarola.di.uminho.pt">Passarola</a> exercise generation system.
          </td>
        </tr>
      </table>
    </p>

    <p>
      <h2>Education</h2>
      <table>
        <tr>
          <td>
            <section class="from">2015</section>
          </td>
          <td>
            I got the <a href="https://www.outsystems.com/">OutSystems</a> Associate Developer Certification after a few weeks of formation.
          </td>
        </tr>
        <tr>
          <td>
            <section class="from">2012</section>
            <section class="to">2015</section>
          </td>
          <td>
            I got a Master's degree on Informatics Engineering at the same <a  href="https://www.uminho.pt/EN">University</a>,<br />focusing on Language Engineering and Computer Graphics.
          </td>
        </tr>
        <tr>
          <td>
            <section class="from">2005</section>
            <section class="to">2012</section>
          </td>
          <td>
            I got a Licentiate’s degree on Informatics Engineering at the <a  href="https://www.uminho.pt/EN">University of Minho</a>,<br />
            learning about several programming languages along the way.
          </td>
        </tr>
      </table>
    </p>

    <p>
      <h2>Details</h2>
      <p>
        You can find more information in my <a href="{{ url_for('static', filename = 'VCV_EN_2016-12-01.pdf' )}}">Curriculum vitae</a>.
        <br />
        Specifically, the tools/languages/libraries I've used before, ordered by how modern/recent.
        <br />
        It's focused on my Professional experiences as I've been migrating the Personal ones here.
      </p>
    </p>

    <p>
      <h2>Contact</h2>
      Feel free to contact me by using <a href="{{ url_for('contact') }}">this form</a>.
    </p>
  </section>
{% endblock %}
