{% extends "layout.min.html" %}
{% block body %}
  <h1>{{ Title }}</h1>

	<section class="panel">
    {% if name is not none %}
      {% if name|length == 0 %}
        Thank you. Your message has been sent.
      {% else %}
        Thank you, {{ name }}. Your message has been sent.
      {% endif %}
    {% else %}
      Sorry but there was a problem sending the email.
    {% endif %}
  </section>

  <section>
    <a href="{{ url_for('contact') }}">Return to Contact.</a>
  </section>
{% endblock %}
