{% extends "layout.min.html" %}
{% block body %}
	<h1>{{ title }}</h1>

	<section class="panel">
		<p>
			Greetings and welcome to my website where I'll talk about my latest activities and flaunt my creations.
    	<br />
      You might be thinking "Who cares?" Well I do, obviously, and it'll be an easy way to find/contact/stalk me.
			<br />
			I was looking for a "simple but informative" design that stays out of the way.
		</p>

		<p>
			I made it using the <a href="https://www.python.org/">Python</a> programming language with the <a href="http://flask.pocoo.org/">Flask</a> and <a href="http://www.sqlalchemy.org/">SQLAlchemy</a> libraries.
		</p>

		<p>
			Creating it has been fun as I'm improving both my Python skills as well as my MVC (Flask).
			<br />
			Everything was coded/designed by hand to showcase my skills, just <a href="{{ url_for('projects', which = 'excalibur')}}">check the repository</a>.
		</p>
	</section>
{% endblock %}
