{% extends "layout.min.html" %}
{% block body %}
  <h1>{{ exhibit['title'] }}</h1>

  <section class="panel">
    <section class="exhibit">
      <img src="{{ url_for('static', filename = exhibit.path) }}" alt="{{ exhibit.title }}" />
    </section>

    <section>
      Created around {{ exhibit.date }},
      viewed {{ exhibit.views }} time(s)
    </section>

    {% if exhibit.description is not none %}
      <section>
        {{ exhibit.description }}
      </section>
    {% endif %}
  </section>

  {% include "comment.min.html" with context %}
{% endblock %}
