{% extends "layout.min.html" %}
{% block body %}
  <h1>{{ title }}</h1>

  {% if gallery is defined and gallery|length > 0 %}
    <section class="gallery">
      {% for exhibit in gallery %}
        <a href="{{ url_for('gallery', which = exhibit.title.lower().replace(' ','-')) }}">
          <section class="exhibit">
            <section>
              {% if exhibit.preview is not none %}
                <img src="{{ url_for('static', filename = exhibit.preview) }}" alt="" />
              {% else %}
                <img src="{{ url_for('static', filename = exhibit.path) }}" alt="" />
              {% endif %}
            </section>
            <section>
              <section class="title">
                {{ exhibit.title }}
              </section>
              <section class="details">
                {{ exhibit.date.year }}
              </section>
            </section>
          </section>
        </a>
      {% endfor %}
    </section>
  {% else %}
  	<section class="panel">
      There is nothing to see here, move along.
    </section>
  {% endif %}
{% endblock %}
