{% extends "layout.min.html" %}
{% block body %}
  <h1>{{ project.title }}</h1>

  <section class="panel">
    {% if project.logo is not none %}
      <section class="logo">
        <img src="{{ url_for('static', filename=project.logo) }}" alt="" />
      </section>
    {% endif %}

    <section>
      Created around {{ project.date }},
      viewed {{ project.views }} time(s)
    </section>

    {% if project.description is not none %}
      <section>
        {{ project.description }}
      </section>
    {% endif %}

    <section class="controls">
        {% if project.type == 1 %}
          <a href="{{ url_for('static', filename = project.uri) }}" rel="nofollow" target="_blank">
            Open
          </a>
        {% elif project.type == 2 %}
          <a href="{{ url_for('static', filename = project.uri) }}" rel="nofollow" target="_blank">
            Download
          </a>
        {% elif project.type == 3 %}
          <a href="{{ project.uri }}" target="_blank">
            Visit
          </a>
        {% endif %}
    </section>
  </section>

  {% include "comment.min.html" with context %}
{% endblock %}
