{% extends "layout.min.html" %}
{% block body %}
  <h1>{{ title }}</h1>

  {% if projects is defined and projects|length > 0 %}
    <section class="projects">
      {% for project in projects %}
        <a href="{{ url_for('projects', which = project.title.lower().replace(' ','-')) }}">
          <section class="project">
            {% if project.logo is not none %}
              <section>
                  <img src="{{ url_for('static', filename=project.logo) }}" alt="" />
              </section>
            {% endif %}
            <section>
              <section class="title">
                {{ project.title }}
              </section>
              <section class="details">
                {{ project.date.year }}
              </section>
            </section>
          </section>
        </a>
      {% endfor %}
    </section>
  {% else %}
  	<section class="panel">
      There is nothing to see here, move along.
    </section>
  {% endif %}
{% endblock %}
